*{
	padding: 0;
	margin: 0;
}
body,html{
	width:100%;
	height: 100%;
	background: radial-gradient(farthest-corner ellipse, #d4e0c3, #a6d1b3 50%, #8cb252);
}
a,ul,button,img{
	border: none;
}
a{
	text-decoration: none;
	color: #fff;
}
ul{
	list-style:none;
	overflow: hidden;
}
.clearfix:after{
	content: '.';
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
.clearfix{
	*zoom:1;
}
.wrap{
	width: 60%;
	height: 400px;
	position: absolute;
	left:50%;
	top:50%;
	margin-top:-200px;
	margin-left:-30%;
	list-style: none;
	text-align: center;
	// border:1px solid red;
}
li{
	width: 28%;
	height: 180px;
	display: inline-block;
	position: relative;
	margin-top:8px;
	border:3px solid #c7d8ff;
}
.image-box{
	width:100%;
	height: 100%;
	transition: 0.6s;
}
.image-box img{
	height:100%;
	width: 100%;
}
.item-box{
	width:100%;
	height:100%;
	background:#fff;
    transition: 0.6s;
    position: absolute;
    opacity: 0;
    left: 100%;
    top: 0;
    z-index: -1;
}
li:hover .image-box{
	transform:translate(-50%,6px) scale(0.5);
	background: #c7d8ff;
	position: relative;
	z-index:3;
}
li:hover .image-box img{
	height:98%;
	width: 98%;
	padding:3px;
}
li:hover .item-box{
	transform: translateX(-100%);
	transition-delay:0.1s;
	opacity: 1;
	position: absolute;
	z-index:2;
}
.item-box .right{
	width:70%;
	position: absolute;
	right: 0;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-top: 10%;
	// border:1px solid blue;
}
.item-box .left{
	width:70%;
	position: absolute;
	left: 0;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-top: 10%;
	// border:1px solid blue;
}
.item-box p{
	line-height: 20px;
	font-size: 12px;
	color: #5C5A5A;
	margin: 10px 0; 
}
.item-box a{
	display: inline-block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	background: #5EB0BA;
	position: relative;
	z-index:3;
}
.item-box a:hover {
	background: #fff;
	color: #5EB0BA;
	border: 2px solid #5EB0BA;
}
ul li:nth-of-type(2) .item-box{
	top:-100%;
	left:0;
}
ul li:nth-of-type(5) .item-box{
	top:100%;
	left:0;
}
ul li:nth-of-type(3) .item-box,ul li:nth-of-type(6) .item-box{
	left:-100%;
}
/*top to bottom,bottom to top*/
li:nth-of-type(2):hover .image-box{
	transform:translate(-50%,45px) scale(0.5);
}
li:nth-of-type(2):hover .item-box{
	transform: translateY(100%);
}
li:nth-of-type(5):hover .image-box{
	transform:translate(50%,45px) scale(0.5);
}
li:nth-of-type(5):hover .item-box{
	transform: translateY(-100%);
}/*end top bottom*/

/*left to right*/
li:nth-of-type(3):hover .image-box,li:nth-of-type(6):hover .image-box{
	transform:translate(50%,6px) scale(0.5);
}
li:nth-of-type(3):hover .item-box,li:nth-of-type(6):hover .item-box{
	transform: translateX(100%);
}/*end left to right*/


